{% extends "base.html" %}
{% block content %}

<form method="POST" >
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">username</label>
        <input name="username" class="form-control" id="exampleFormControlInput1" placeholder="username">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">password</label>
        <input name="password" class="form-control" id="exampleFormControlInput1" placeholder="password">
      </div>
      <button type="submit" class="btn btn-success">Войти</button>
    </form>

{% endblock %}